<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>세종머앟</title>
<style>
  body {
    height: 1080px;
    margin: 0;
  }
    .main {
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0;

    }
    header {
        position: relative;
        background-color: rgb(245, 132, 153);
        top:100px;
    }
    #tr {
        position: relative;
        left: 33%;
    }
    #quiz {
        position: relative;
        left : 48%;
    }

    section {
      position: relative;;
      top: 100px;
      height: 100%
    }
    #img {
      display: flex;
    }

    #slo{
        position: relative;
        left:20%;
        margin-top : 3%;
        width: 396px

    }

    #information{
      position: relative;
      left:14%;
      margin-top : 6%;
      float: left;
      width: 197px;
    }
    #newsImg{
      position: relative;
      margin-top : 6%;
      left: 25%;
      width: 94px;
    }

    #info {
      position: relative;
      top : 50px;
      left : 15%;
      width: 500px;
      height: 100%;
      display: inline-block;
    }
    #news {
      position: relative;
      top : 50px;
      left : 33%;
      width: 500px;
      height: 100%;
      display: inline-block;

    }


    a{
        border: 0;
        outline: 0;
        background-color: rgb(245, 132, 153);
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

</style>
</head>
<body>
  <div class="main">

    <header id = "menuBackground">
      <a id = "tr" href="translation.html">translation</a>
      <a id = "quiz" href="quiz.html">quiz</a>
    </header>

    <section>
      <div id = "img">
    <img src="/main/information" id ="information">
    <img src="/main/slo" id = "slo">
    <img src="/main/news" id ="newsImg">
      </div>

      <div id ="info">
      급식체 나뻐요.z
      </div>

      <div id ="news">
      이거 실화냐!
      </div>
    </div>
</section>
</html>
