<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>세종머앟</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

  }
  header {
    background-color: rgb(245, 132, 153);
  }
  #menu{
    width: 300px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
  }
  #tr {
    width: 150px;
    margin: 0;
  }
  #quiz {
    width: 150px;
    margin: 0;
  }

  #content {
    width: 45%;
  }
  #content2 {
    width: 10%;
  }
  #content3 {
    width: 45%;
  }

  #translation{
    display: flex;
  }
  section {
    display: flex;
    width: 1000px;
    height: 700px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

  }

  a{
      border: 0;
      outline: 0;
      background-color: rgb(245, 132, 153);
      font-size: 30px;
      color: white;
      text-decoration: none;
  }

  #school{
    background-color: #FFDCE1;
    border-radius: 5px;
    border: 0;
    color: white;
    height: 414px;
    width: 450px;
    font-size: 35px;
  }

  #beautifulKorean{
    background-color: #FFDCE1;
    border-radius: 5px;
    border: 0;
    color: white;
    height: 414px;
    width: 450px;
    font-size: 35px;
  }
  #school:focus{
    outline: none;
  }

  #button {
    width: 70px;
    height: 30px;
    border: 0;
    color: white;
    background-color: rgb(245, 132, 153);
    margin: 10px;
    margin-top: 200px;
  }

  #button:focus{
    outline: none;
  }
  #hanguel{
    background-color: #FFDCE1;
    height: 414px;
    width: 450px;
    border-radius: 5px;
  }
</style>
    <script src="https://npmcdn.com/axios/dist/axios.min.js">

    </script>
</head>
<body>
  <header>
    <div id="menu">
    <div id="tr">
      <a href="http://iwin247.info:3111/main">Main</a>
    </div>
    <div id="quiz">
    <a href="http://iwin247.info:3111/quiz">Quiz</a>
    </div>
    </div>
  </header>
  <form action="/word/change" method="post">
    <section>
      <div id="content">
        <h3 style="color:rgb(245, 132, 153);">급식체</h3>
        <div id="translation">
          <textarea type="text" id="school" name="str"></textarea>
        </div>
      </div>
      <div id="content2">
        <button type="submit" id="button">번역</input>
      </div>
      <div id="content3">
        <h3 style="color:rgb(245, 132, 153);">자랑스러운 한글</h3>
        <div id="hanguel">
            <input type="textarea" id="beautifulKorean" readonly></input>
        </div>
      </div>
    </section>
   </form>
</html>
